.event-register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.event-cover {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.event-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event-details {
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.event-details h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.event-description {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  line-height: 1.5; 
  max-height: calc(1.5em * 4); 
}

.event-conduct, .event-dos, .event-donts {
  margin-bottom: 20px;
}

.event-conduct h3, .event-dos h3, .event-donts h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.event-conduct p, .event-dos p, .event-donts p {
  font-size: 1.1rem;
  color: #666;
}

.register-button {
  padding: 15px 25px;
  background-color: #2a9d8f;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #264653;
}
