
.sign-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding: 0 60px;
}

@media (max-width: 500px) {
  .sign-container {
    padding: 0;
  }
}

.sign-container .content {
  display: flex;
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  max-height: 600px;
  box-shadow: 0 0 20px 2px #c8c8c8;
  border-radius: 8px;
  /* overflow: hidden; */
}

.sign-container .content >  section {
  display: flex;
  width: 100%;
}

.sign-container .content .background {
  width: 50%;
  background-image: url('@/assets/logo.png');
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

@media (max-width: 1000px) {
  .sign-container .content .background {
    display: none;
  }
}