:root {
  --white: #fff;
  --green-300: #7eca04;
  --green-500: #66a500;
  --red-500: #F75A68;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

button {
    cursor: pointer
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4efe3;
  color: #4a392e;
  margin: 0;
  padding: 0;
}

.ant-select {
  height: max-content;
}

.ant-select .ant-select-selector {
  padding: 7px 14px !important;
  height: max-content !important;
  border-radius: 16px;
  border: 2px solid #0C120C33 !important;
}

.ant-select .ant-select-selector .ant-select-selection-item {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
}

.ant-select  .ant-select-arrow {
  top: 25px;
}
