.sign-up-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

@media (max-width: 1000px) {
  .sign-up-form-container {
    width: 100%;
  }
}

